<div class="footer">
  <div class="pure-menu pure-menu-horizontal">
    <ul>
      <li class="pure-menu-item">
        <a href="/" class="pure-menu-link">Home</a>
      </li>
      {% for page in site.pages %}
        {% if page.title %}
          <li class="pure-menu-item">
            <a href="{{ page.url | prepend: site.baseurl }}" class="pure-menu-link">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <li class="pure-menu-item">
        <a class="pure-menu-link" href="{{ '/cv' | prepend: site.baseurl }}">CV</a>
      </li>
    </ul>
  </div>
</div>
