.cv-wrapper {
  h1 {
    font-size: 3rem;
    line-height: 0.8;
  }

  h2 {
    margin-bottom: 0;
    font-family: Fira Sans,Helvetica Neue,Helvetica,sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.3rem;
    font-weight: 700;

    .colored {
      color: inherit;
      background: linear-gradient(180deg, transparent 60%, #ffeaa7 0) 50%/0 70% no-repeat;
      background-size: 100% 100%;
    }
  }

  .left {
    text-align: right;
  }

}

@media print {
  .cv-wrapper {
    font-size: 80%;
  }

  .site-nav {
    display: none;
  }

  h1.ma-name-ken {
    font-size: 2rem;
  }

  .colored {
    font-size: 1rem;
  }

  .left {
    width: 33%;
    float: left;
    min-height: 3000px;
  }

  #right {
    width: 66%;
    float: right;

    div h2 {
      font-size: 1rem;
    }

    div p {
      font-size: 0.8rem;
      line-height: normal;
    }
  }
}
